body {
	background: #ccc;
	margin: 0;
	font-family: Helvetica;
}

.container {
	margin: 0 auto;
	width: 700 px;
	margin: T L B R;
	padding-top 150px;
	background: #fff url(alton-brown-dip.jpg) no-repeat top center;
	border-top: 10px solid #424242
}

.recipe {
	/* add 5 more attributes to this section */
	padding: 20px 40px
	background: #fff;
}

.recipe h2 {
	/* or this */
}